*{
    padding: 0;
    margin: 0;
    font-size: 20px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: sans-serif;
}


/* ********** HEADER *********** */
header{
    background: pink;
    display: flex;
    height: 80px;
    align-items: center;
    justify-content: space-between;
    padding: 0 50px;
}

header nav ul{
    display: flex;
    align-items: center;
    background: chartreuse;
}

header nav ul li{
    margin: 0 20px;
}

/* ********** FIN HEADER*********** */



/* *********** HOME PAGE ********** */
.divIntro{
    background: turquoise;
    min-height: 100vh;
}

.divIntro .divSectionHeader{
    display: flex;
    background: sandybrown;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.divIntro .divSectionHeader .divRight,
.divIntro .divSectionHeader .divLeft{
    flex: 1;
    position: relative;
    height: 80% ;
}


.divIntro .divSectionHeader .divLeft{
    background:  #F05;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5% ;
}

.divLeft h1{
    font-size: 45px;
    font-weight: bold;
    margin: 20px 0;
}

.divLeft h3{
    font-size: 35px;
}

.divLeft h2{
    font-size: 45px;
    margin: 20px 0;
}

.divIntro .divSectionHeader .divRight{
    background: royalblue;
    display: flex;
}

.divIntro .divRight div{
    background: seagreen;
    padding: 300px;
    position: absolute;
    border-radius: 50%;
    overflow-x: hidden;
}

.divIntro .divRight div.one{
    right: 1%;
    top: 0%;
}


.divIntro .divRight div.second{
    padding: 150px;
    background: yellow;
    bottom: 0;
}

.divIntro .divRight img{
    z-index: 2;
}